.ArticleBig {
    /* text-align: center; */
    margin: 0.5rem 0 1rem 0;
    padding: 1rem;

    width: 100%;

    border-radius: 1rem;
    box-shadow: var(--shadow-strong);
}

.ArticleBig>.description {
    font-size: 0.6rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--gray);
}

.ArticleBig>.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ArticleBig>.image>img {
    margin-bottom: 0.4rem;

    display: block;
    max-height: 8rem;
}

.ArticleBig>.title {
    font-size: 1.2rem;
    color: var(--black)
}

.ArticleBig>.subtitle {
    margin-bottom: 0.5rem;
  
    display: block;
  
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--gray);
}

.ArticleBig>.Button {
    padding: 0.6rem 2rem;
    margin: 0.4rem 0 0.1rem 0;

    display: inline-block;

    background: var(--blue);
  
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
  
    border-radius: 2rem;
  
    box-shadow: var(--shadow-subtle);
}