@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --font-main: 'Comfortaa', cursive;
    --font-secondary: 'Roboto', sans-serif;
    --black: #1c1d1c;
    --gray: #c8cbcd;
    --blue: #3f7ee8;
    --shadow-strong: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-subtle: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

#root {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    font-family: var(--font-secondary);
}

@media (min-width: 768px) {
    .Home, .News, .Article, .Report {
        width: 40%;
    }
}